.terraform/
.terraform.lock.hcl.backup
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.DS_Store
.idea/
.vscode/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
